.section-cards {
    background-color: #f1f2f3;
    padding: 1rem;
}

.cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}

.section-cards__header p {
    font-family: 'Helvetica', sans-serif;  
    font-size: 1.2em;  
    color: #16a085;  
    text-align: center; 
    font-weight: 300; 
}

.footer {
    background-color: #2c3e50;  /* Fondo oscuro */
    color: white;               /* Texto blanco */
    text-align: center;         /* Centrado de texto */
    padding: 20px;              /* Espaciado interior */
    position: relative;         /* Asegura que el footer se quede en su lugar */
    bottom: 0;
    width: 100%;                /* Asegura que el footer ocupe todo el ancho */
    border-top-left-radius: 20px;  /* Curva en la esquina superior izquierda */
    border-top-right-radius: 20px; /* Curva en la esquina superior derecha */
}
