/* ----------------------------- */
/* HEADER */
/* ----------------------------- */
/* mobile first */
.main-header {
    display:flex;
    flex-direction: column-reverse;

    @media screen and (min-width: 992px){
        &{
            flex-direction: column;
        }
    }
        
    
}

#menu {
    display: none;

    /* hacer funcionar el checkxbox---->hacer funcionar el menu hamburguesa */
    &:checked + .nav-bar{

    display: block;
    }
    &:checked ~ .search-bar .menu-toogle .menu-toogle__label{

    background-color: yellow;
    }

}


/* nav bar */

.nav-bar { 
    background-color: mediumaquamarine;
    display: none;

    &__nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;

        @media screen and (min-width: 992px) {
            & {
                flex-direction:row ;
            }

    }
}

    &__nav-item {
        text-align: center;
        background-color: pink;
    }

    &__nav-link {
        display: block;
        background-color: purple;
        padding: 1rem 2rem;
        color: white;
    }
    @media screen and (min-width: 992px) {

        & {
            display: block;
        }
        
    }
}
/* ---------------------------------- */
/* SEARCH-BAR */
/* ---------------------------------- */


.search-bar {
    display: flex;
    background-color: olivedrab;
    justify-content: space-around;

    &____logo-container {
        width: 18.75rem;
        height: 3.75rem;
    }

    &__form-container {
        padding: 1rem;
        background-color: gold;
        display: flex;
        flex-basis: 100%;
        justify-content: center;
    }

    &__form-label {
        background-color: greenyellow;

    }


    &__form-search {
        background-color: deeppink;
}

    &__form-submit {
        background-color: darkslategrey;
    }


    &__carrito-container {
        flex: 0 0 3rem;  /* short */
        background-color: goldenrod;
    }
}
/* -------------------------------- */ 
 /* MENU TOOGLE                     */
 /* ------------------------------- */

 .menu-toogle {
    display: block;
    background-color: red;
    flex: 0 0 3rem;
    position: relative;
    cursor: pointer;


    &__label {
        display: block;
        background-color: black;
        height: 100%;
    }

    &__top-bread,
    &__meat,
    &__bottom-bread {
        display: block;
        background-color: #333;
        height: .2rem;
        position: absolute;
        left: .5rem;
        right: .5rem;
    }
    
    &__top-bread {
        top: .8rem;
    }

    &__meat {
        top: 50%; 
        margin-top: -.1rem;
    }

    &__bottom-bread {
        bottom: .8rem;
    }
    @media screen and (min-width: 992px) {
        &{
            display: none;
        }
    }
        
    
 }